header {
    margin-top: 5px;
}

#footer {
    text-align: center;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer>p {
    margin-bottom: 1px;
}

@media screen and (max-height: 690px) {
    #footer {
        position: relative;
        margin-top: 30px;
    }
}

@media screen and (max-height: 690px) and (max-width: 479px) {
    #footer {
        position: absolute;
    }
}

@media screen and (max-width: 479px) {
    #footer {
        font-size: 80%;
    }
    #footer>ul {
        margin-bottom: 5px;
    }
}

.select-language {
    position: relative;
    left: %;
    display: block;
    /*float: left;*/
    width: 5%;
    min-width: 60px;
    margin-top: 2px;
    margin-left: 20px;
    height: 25px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.select-language:hover {
    border: 1px solid #1F1F1F;
    background-color: #F8F8FF;
    cursor: pointer;
}

.flag {
    position: absolute;
    right: 50%;
    top: 2px;
    border: 1px solid #000000;
    width: 22.22px;
    height: 18px;
    margin: auto 1px;
}

.language {
    /*right: 50%;*/
    position: absolute;
    margin: auto 1px;
    text-align: center;
}

#project-container {
    position: absolute;
    right: 7%;
    margin-top: 30px;
    height: 75%;
    width: 65%;
}

#project-info {
    display: none;
    position: relative;
    margin-left: 44%;
    margin-right: 40%;
    margin-top: 5px;
    margin-bottom: 40px;
}

#contact-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #982727;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#982727));
    background: -moz-linear-gradient(top, #ff4a4a, #982727);
    background: linear-gradient(to bottom, #ff4a4a, #982727);
    text-shadow: #5a1717 1px 1px 1px;
    font: normal normal bold 29px verdana;
    color: #ffffff;
    text-decoration: none;
}

#contact-btn:hover, #contact-btn:focus {
    border: 1px solid #b32e2e;
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}

#contact-btn:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}

#project-frame {
    border: none;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin-left: 30px;
}


/* Image Circle View */

#profile {
    margin: auto;
    border-radius: 10%;
    border: 1px solid #021a40;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 280px;
}

@media screen and (max-width: 479px) {
    #profile {
        border-radius: 40%;
        width: 40%;
        height: 40%;
    }
}

#title {
    margin-bottom: 16px;
}

@media screen and (max-width: 479px) {
    #title {
        font-size: 200%;
        margin-bottom: 8px;
    }
    #skills, #details {
        margin-bottom: 5px;
        font-size: 90%;
    }
}


/* Center text */

div {
    text-align: center;
    font-family: sans-serif;
}

.icons {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 479px) {
    .icons {
        width: 30px;
        height: 30px;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin: 3px;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid #4CAF50;
    ;
    color: #4CAF50;
    ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}

.button:hover {
    color: #008000;
    border-color: #008000;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
}

.no-hover-effect:hover {
    text-decoration: none;
}

#banner-resume {
    display: none;
    position: absolute;
    right: 60px;
    top: -8px;
    margin-top: 4px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #ffffff;
    border-radius: 8px;
    background: #087bee;
    background: -webkit-gradient(linear, left top, left bottom, from(#087bee), to(#7fbdfa));
    background: -moz-linear-gradient(top, #087bee, #7fbdfa);
    background: linear-gradient(to bottom, #087bee, #7fbdfa);
    text-shadow: #707070 0px 0px 4px;
    font: normal normal normal 20px verdana;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}

#banner-resume:hover {
    background: #0a94ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a94ff), to(#98e3ff));
    background: -moz-linear-gradient(top, #0a94ff, #98e3ff);
    background: linear-gradient(to bottom, #0a94ff, #98e3ff);
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}

#banner-resume:active {
    background: #054a8f;
    background: -webkit-gradient(linear, left top, left bottom, from(#054a8f), to(#7fbdfa));
    background: -moz-linear-gradient(top, #054a8f, #7fbdfa);
    background: linear-gradient(to bottom, #054a8f, #7fbdfa);
    text-transform: uppercase
}

#banner-resume:focus {
    text-transform: uppercase
}

#nav {
    margin-top: 12px;
    margin-bottom: 2px;
}

#nav>li {
    font-size: 120%;
    font-weight: bold;
    color: #0275d8;
}

#nav>li>a {
    text-decoration: none;
    padding-bottom: 3px;
}

#nav>li>a:visited {
    color: #0275d8;
}

#menu-btn {
    display: none;
}
#menu-slider {
    display: none;
}

@media screen and (max-width: 991px) {
    #nav {
        display: none;
    }
    #menu {
        position: static;
        height: 100%;
        /*background: #87CEEB;*/
        padding: none;
    }
    #menu-btn {
        display: block;
    }

    /* Hamburger ICON, START Style*/

    .c-hamburger {
        display: block;
        position: relative;
        z-index: 2;
        margin-left: 1%;
        padding: 0;
        width: 45px;
        height: 43px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: 15%;
        border: 1px solid #C9FFB8;
        cursor: pointer;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }

    .c-hamburger:focus {
        outline: none;
    }

    .c-hamburger span {
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        right: 10px;
        height: 3px;
        background: white;
    }

    .c-hamburger span::before, .c-hamburger span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        content: "";
    }

    .c-hamburger span::before {
        top: -8px;
    }

    .c-hamburger span::after {
        bottom: -8px;
    }

    .c-hamburger--htx {
        background-color: #ADFF2F;
    }

    .c-hamburger--htx span {
        -webkit-transition: background 0s 0.3s;
        transition: background 0s 0.3s;
    }

    .c-hamburger--htx span::before, .c-hamburger--htx span::after {
        -webkit-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s;

    }

    .c-hamburger--htx span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
    }

    .c-hamburger--htx span::after {
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
    }


    /* active state, i.e. menu open */

    .c-hamburger--htx.is-active {
        background-color: #FFFFFF;
        border: 1px solid #66C266;
    }

    .c-hamburger--htx.is-active span {
        background: none;
    }

    .c-hamburger--htx.is-active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .c-hamburger--htx.is-active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
        background-color: #ADFF2F;
    }
    /* DONE Style for Hamburger ICON */

    #menu-slider {
        display: none;
        position: absolute;
        overflow: hidden;
        left: -4px;
        top: -6px;
        width: 250px;
        background: #FFFFFF;
        border: 1px solid #66C266;
        border-radius: 1%;
        /*padding: 20px;*/
        /*transition: all 0.3s ease;*/
        color: white;
        z-index: 1;
    }

    #block-space {
        width: 100%;
        height: 58px;
        background: #ADFF2F;
        margin-bottom: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider-item > a {
        display: block;
        text-align: center;
        padding: 10px;
        /*transition: all 0.3s ease;*/
        color: #000000;
        font-size: 130%;
        width: 250px;
        margin: auto;
        position: relative;
        /*border: 1px solid #4EFFA1;*/
        /*height: 40px;*/
        background: #FFFFFF;
        color: #66C266;
        border-radius: 3%;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .slider-item > a:hover {
        color: #FFFFFF;
        background: #4EFFA1;
        text-decoration: none;
    }
    .slider-item > a:active, .slider-item > a:visited {
        text-decoration: none;
    }

    #menu-slider > button {
        border: none;
        padding: 0px;
    }
    #slider-home > a {
        background: #4EFFA1;
        color: #FFFFFF;
    }
}
