<div class="container">
    <div class="project-item row">
        <div class="col-sm-4">
            <a href=""><img class="img-fluid" src="https://via.placeholder.com/350x200"></a>
        </div>
        <div class="col-sm-8">
            <div class="pb-2">
                <h2 class="mb-0">Name of Project</h2>
                <em>date, links & stuff</em>
            </div>
            <p>
                This is an example project that i will add very soon. i just want to see how this would look like in a row. i'm typing some more text because i don't have enough to see what i'm looking for. So here i go, typing.... again.
            </p>
        </div>
    </div>

    <hr />

    <div class="project-item row">
        <div class="col-sm-4">
            <a href=""><img class="img-fluid" src="https://via.placeholder.com/350x200"></a>
        </div>
        <div class="col-sm-8">
            <div class="pb-2">
                <h2 class="mb-0">Name of Project</h2>
                <em>date, links & stuff</em>
            </div>
            <p>
                This is an example project that i will add very soon. i just want to see how this would look like in a row. i'm typing some more text because i don't have enough to see what i'm looking for. So here i go, typing.... again.
            </p>
        </div>
    </div>

    <hr />

    <div class="project-item row">
        <div class="col-sm-4">
            <a href=""><img class="img-fluid" src="https://via.placeholder.com/350x200"></a>
        </div>
        <div class="col-sm-8">
            <div class="pb-2">
                <h2 class="mb-0">Name of Project</h2>
                <em>date, links & stuff</em>
            </div>
            <p>
                This is an example project that i will add very soon. i just want to see how this would look like in a row. i'm typing some more text because i don't have enough to see what i'm looking for. So here i go, typing.... again.
            </p>
        </div>
    </div>

    <hr />

    <div class="project-item row">
        <div class="col-sm-4">
            <a href=""><img class="img-fluid" src="https://via.placeholder.com/350x200"></a>
        </div>
        <div class="col-sm-8">
            <div class="pb-2">
                <h2 class="mb-0">Name of Project</h2>
                <em>date, links & stuff</em>
            </div>
            <p>
                This is an example project that i will add very soon. i just want to see how this would look like in a row. i'm typing some more text because i don't have enough to see what i'm looking for. So here i go, typing.... again.
            </p>
        </div>
    </div>

    <hr />

    <div class="project-item row">
        <div class="col-sm-4">
            <a href=""><img class="img-fluid" src="https://via.placeholder.com/350x200"></a>
        </div>
        <div class="col-sm-8">
            <div class="pb-2">
                <h2 class="mb-0">Dropit</h2>
                <em>Jun 18th, 2016</em>
            </div>
            <p>
                An application that helps to reduce allergy casualties. "Dropit" was developed by me and my team in the "Merck" hackathon event, which we won first place.
            </p>
        </div>
    </div>

</div>
