html, body {
    height: 100%;
    font-family: 'Muli', sans-serif;
}

#left {
    width: 50%;
    overflow: hidden;
}


.left-bg-image {
    background-image: url('../images/profile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: .6;
    min-width: 100%;
    min-height: 100vh;
}

#info {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

#links {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;

}

#links a {
    color: black;
}

#links a:hover {
    color: gray;
}

#right {
    width: 50%;
}

#right .project-item img {
    width: 100%;
    height: 150px;
}

#portfolio a {
    text-decoration: none;
    color: black;
}

@media all and (max-width: 1199px) {
    #right {
        font-size: 90%;
    }
    #right .project-item img {
        height: 110px;
    }
}

@media all and (max-width: 991px) {
    .page {
        display: block !important;
    }

    #left {
        position: relative !important;
        width: 100%;
        height: 60vh;
    }
    #left .left-bg-image {
        height: 100vh;
    }
    .left-bg-image {
        background-size: auto;
        background-attachment: fixed;
        background-position-x: -15em;
        background-position-y: -13em;;
    }
    #info {
        top: 40% !important;
    }
    #links {
        position: absolute !important;
        top: 1em;

    }
    #right {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    #right {
        font-size: 100%;
    }
    #right .project-item img {
        height: 150px;
        padding; 0;
    }

}

@media all and (max-width: 575px) {

    #left {
        height: 60vh;
    }

    #info {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

    #right {
        font-size: 90%;
    }
    #right .project-item img {
        width: 300px;
        display: block !important;
        margin: auto !important;
        padding-bottom: 1em;
    }    

    .project-item:nth-child(1) {

    }

    .project-item:nth-child(2) {

    }
}
